<div class="card">
    <div class="product">
     <img class="productImage" src={{this.urlImage}} alt={{this.altImage}} />
     
     <div class="column">
         <h2>{{this.title}}</h2>
      <p class="price"><span>R$</span>{{this.price}}</p>
      
     </div>
    </div>
    
    
       
    <div class="text">
        
        <p>{{{this.description}}}</p>
    </div>

    <div class="text">
        <a href="/produtos">ver outros produtos</a>
    </div>
    
</div>
    

